[submodule "Hexapod"]
	path = Hexapod
	url = git@github.com:ManufacturedMotion/Hexapod.git
[submodule "HexapodController"]
	path = HexapodController
	url = git@github.com:ManufacturedMotion/HexapodController.git
