mk2/code/real_time/teensy_code/.pio
mk2/code/real_time/teensy_code/.vscode/.browse.c_cpp.db*
mk2/code/real_time/teensy_code/.vscode/c_cpp_properties.json
mk2/code/real_time/teensy_code/.vscode/launch.json
mk2/code/real_time/teensy_code/.vscode/ipch
mk2/code/real_time/teensy_code/lib/HexapodController/src/user_config.hpp
